body{
	margin: 0;
}
/*Div principal*/
.Main{
	background-color: black;
	width: 100%;
}
/*Le div du logo en haut à gauche*/
.Logo{
	float: left;
}
/*L'image logo*/
#Logo{
	height: 14vh;
}
/*mon div pour ma barre des menus en haut*/
.Bouton{
	width: 100vw;
	height: 14vh;
	text-align: center;
	background: white;
	position: fixed;
	z-index: 3;
	
}
/*Lien de ma barre des menus*/
.Nav_Barre{
	width: 100vw;
	padding-top: 2%;
}
.Nav_Barre>a{
	margin-left: 2%;
	border: none;
	background: white;
	color: black;
	font-size: large;
	height: auto;
	
}
/*Mon grand div de la page d'accueil*/
.Accueil{
	padding-top: 5%;
}
/*Le grand titre de la page d'accueil*/
.Accueil>p{
	font-size: 60px;
	text-align: center;
	color: white;
}
.Accueil>img {
	width: 40%;
	height: auto;
}
/*Mon image ordinateur dans l'accueil*/
#Ordinateur{
	display: block;
	margin: auto;
	margin-top: 75px;
}

/*Bouton en dessous de l'ordinateur de la page d'accueil*/
.Apropos_Contacter{
	text-align: center;
}
.Apropos_Contacter > a{
	color: white;
	text-decoration: none;
}
/*Bouton en savoir plus de la page d'accueil*/
.Ensavoirplus{
	height: 50px;
	width: 12%;
	border-radius: 10px;
	background: grey;
	border: none;
	color: white;
	height: auto;
	min-height: 50px;
}
/*Bouton me contacter de la page d'accueil*/
.Mecontacter{
	height: 50px;
	width: 13%;
	border-radius: 10px;
	background: grey;
	border: none;
	color: white;
	height: auto;
	min-height: 50px;
	overflow: hidden;
}
/*Mon div pour mettre ClavierSouris*/
.ClavierSouris{
	margin-top: 8%;
	margin-bottom: 3%;
}
/*Mon image de clavier de la page d'accueil*/
#Clavier{
	margin-left: 20%;
	width: 20%;
	height: auto;
}
#Souris{
	width:10%;
	height: auto;
	margin-left: 25%;
}
/*Div pour mon premier carousel*/
.Experience{
	background: white;
	display: flex;
	height: auto;
	padding-bottom: 5%;
}
.carousel-inner{
	margin-top: 7%;
}
.carousel-item>img {
	width:50%;
}
/*pour recentrer mon carousel*/
.carousel-caption{
	margin-left: 45%;
	z-index: 0;
}
.carousel-caption>h1{
	color: white;
}

/*Mon grand div pour les compétences*/
.Competences{
	width: 100%;
	height: auto;
	display: flex;
	text-align: center;
	color: white;
}
/*Div icon skill*/
.bloc_HTML_CSS {
    width: 80%;
    margin: auto;
}

.bloc_HTML_CSS h1 {
    text-align: center;
    color: white;
}

.bloc_icon_HTML_CSS {
    display: flex;
    margin-top: 10%;
}
.fa-html5{
	font-size:60px ;
	color:white;
}
.fa-css3-alt{
	font-size:60px ;
	color:white;
}
.bloc_icon_HTML_CSS p {
    text-align: center;
    font-size: 20px;
	color: white;
}

.HTML { 
	flex: 1; 
}
 
.HTML p+p{ 
	color: white;
}
 
.CSS {
	flex: 1;
}
   
.CSS p+p {
	color: white;
}
  
.JS {
	flex: 1;
}

.JSS p+p {
	color: white;
}
	
.PHP { 
	flex: 1;
}
 
/*********************SKILL2********************/

  .bloc_JS_PHP{
    width: 80%;
    margin: auto;
  }

  .bloc_icon_JS_PHP {
    display: flex;
    margin-top: 10%;
  }

  .bloc_icon_JS_PHP{
    display: flex;
    margin-top: 10%;
  }
  .fa-java{
	font-size:60px;
	color:white;
  }
  .fa-php{
	font-size:60px;
	color: white;
  }
  .bloc_icon_JS_PHP p {
    text-align: center;
    font-size: 20px;
    color: white;
  }
 
  .bloc_icon_JS_PHP p {
    text-align: center;
    font-size: 20px;
    color: white;
  }
.video{
	display: block;
	margin: auto;
	margin-top: 10%;
	width: 50%;
	height: auto;
}
/*Div formation*/
.formations{
	margin-top: 3%;
	height: auto;
	padding-bottom: 5%;

}
  .container-contact100{
	  display: flex;
	  margin-top: 3%;
	
  }
  .label-input100{
	  border: 1px solid;
	  margin-top: 10%;
  }
 .Recommandations{	
	background-image: url(../image/architecture-2256489_1280.jpg);
	background-size: cover;
	text-align: center;
	flex: 1;
	position: relative;
	}
.vide{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgb(0, 0, 0,0.5);
}
.Contactez-moi{
	padding-top: 20%;
	position: relative;
}
.Contactez-moi p {
	z-index: 1;
	color: white;
}
.Contactez-moi > a {
	padding-right: 5%;
}
.Contactez-moi > img{
	width: 3%;
	height: auto;
	position: absolute;
	left: 35%;
}

.btn-rounded-white{
    display:inline-block;
    color:#fff;
    padding:15px 25px;
    border:3px solid #fff;
    border-radius:30px;
	transition:.5s ease all;
	
}
.btn-rounded-white:hover{
    color:#FF3838;
    background:#fff;
    text-decoration:none
}

.Formulaire >p {
 	margin: 0;
}
.main-formulaire{
	text-align: center;
	flex: 1;
}
.FName{
	display: flex;
}
.First{
	flex: 1;
}
.Last{
	flex: 1;
}
.form-group{
	margin: 0;
	width: 100%;
}
.form-group>label{
	background-color: black;
	color: white;
}
.col{
	padding: 0;
}
.Fname_Lname{
	padding-top: 5%;
}
.form-group1{
	margin: 0;
	width: 100%;
}
.Mail{
	padding-top: 5%;
}
.form-group2{
	margin: 0;
	width: 100%;
}
.Telephone{
	padding-top: 5%;
}
.form-group3{
	margin: 0;
	width: 100%;
}
.Message{
	padding-top: 5%;
}
.footer{
	background-color: black;
	width: 100%;
	height: 200px;
	margin-top: 5%;
	text-align: center;
}
#backtotop{
	float: right;
}
.logo_footer > img{
	width: 6%;
	height: auto;
}
#copyright > p {
	color: whitesmoke;
}

@media only screen and (max-width: 780px)
{
	.container-contact100
	{
		display: block;
	}
	.Contactez-moi
	{
		position: initial;
	}
}
